$sub-category-width: 300px;

.nav-wrapper{
  position: relative;
  margin: 0 auto;
  width: 90%;
  .sub-category{
    display: none;
    width: $sub-category-width;
    height: auto;
    padding: 15px 10px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    &.active{
      display: block;
      position: absolute;
      opacity: 0;
      scale: 0.9;
      &.show{
        opacity: 0.95;
        scale: 1;
      }
    }

    .nav-list{
    
    }
  }
}



strong{
  font-size: 30px;
}